*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: blueviolet;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* First box */
#layer-container{
    border: 5px solid black;
    padding: 20px;
    border-radius: 30px;
}
/* second box */
.layer{
    padding: 0%;
    margin: 0%;
}
/* background image */
.content-container{

    background-image: url("pics/sports.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 360px;
    height: 100vh;
    border-radius: 15px;
}
.content{
    padding: 20px;
    margin: 20px;
    width: auto;
}
.navbar{
    overflow: hidden;
    width: 400px;
    margin: auto;
    display: flex;

}
.navbar>a,circle{
    float: none;
    text-align: center;
    padding: 14px 16px;
}
a:active,a:link,a:visited{
    text-decoration: none;
}
a{
    color: black;
    font-size: large;
    font-weight: 500;
}
.circle{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 7px; 
    position: relative;
    background-image:linear-gradient(300deg,blueviolet, orange);
}
.circle1{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: white;
}
/* text and time display */
.timer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}
.Text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: x-large;
    font-weight: 500;

}
.time{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
    border-radius: 100px;
    font-size: x-large;
    font-weight: 500;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(118, 28, 202);
    color: rgb(153, 245, 214);

}
.day,.hours,.minutes{
    padding: 5px;
}